  *{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
}

body{
    /* background: linear-gradient(to right , #2a0845,#6441a5); */
    background: linear-gradient(179.2deg, rgb(34, 34, 34) 0%, rgb(8, 0, 153) 29.7%, rgb(118, 6, 166) 63.4%, rgba(233, 0, 64, 0.58) 100.1%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    background-color: rgb(216,214,214);
    box-shadow: rgb(0,0,0) 0px 5px 15px;
    width: 400px;
}

.header{
    color: black;
    text-align: center;
    background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
    padding: 20px 40px;
    border-bottom: 2px solid #494848;
}

.form{
    padding: 30px 40px;
}

.form-group{
    margin-bottom: 10px;
    padding-bottom: 20px;
    position: relative;
}

.form-group label{
    display: block;
    margin-bottom: 5px;
}

.form-group input{
    border: 2px solid #f0f0f0;
    display: block;
    border-radius: 4px;
    font-size: .8rem;
    width: 100%;
    padding: 10px;
}

.form input::placeholder{
    color: #2a0845;
}

.form-group i{
    position: absolute;
    right: 10px;
    top: 35px;
    visibility: hidden;
}

.form-group span{
    position: absolute;
    bottom: 0;
    left: 0;
    font-weight: bolder;
    font-size: 1rem;
    font-style: italic;
    visibility: hidden;
}


.form-group.success input{
    border-color: #2ecc71;
}

.form-group.error input{
    border-color: #e74c3c;
}

.form-group.error span{
    color: #e74c3c;
    visibility: visible;
}

.form-group.success i.ion-ios-checkmark{
    visibility: visible;
    color: #2ecc71;
}

.form-group.error i.ion-android-alert{
    visibility: visible;
    color: #e74c3c;
}

.form #submit{
    background-color: #fe75b3;
    border: none;
    outline: none;
    color: black;
    width: 100%;
    padding: 10px;
    font-size: 1rem;
    border-radius: 4px;
    cursor: pointer;
    transition: all .5s;
}

.form #submit:hover{
    background: radial-gradient(circle at 10% 20%, rgb(222, 168, 248) 0%, rgb(168, 222, 248) 21.8%, rgb(189, 250, 205) 35.6%, rgb(243, 250, 189) 52.9%, rgb(250, 227, 189) 66.8%, rgb(248, 172, 172) 90%, rgb(254, 211, 252) 99.7%);
}

@media only screen and (max-width : 500px){
    .form{
        width: 100%;
    }
    .form-group span{
        font-size: xx-small;
    }
}